.header-sides {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-left: 0px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 46px;

    &__webpage {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--default-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
            color: var(--active-color);
        }
    }

    &__webpage-one {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--default-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
            color: var(--active-color);
        }

        &::after {
            position: absolute;
            content: "";
            height: 4px;
            background-color: var(--active-color);
            width: 100%;
            border-radius: 2px;
            bottom: -33px;
            left: 0px;
        }
    }

    &__webpage-two {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--default-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            cursor: pointer;
            color: var(--active-color);
        }

        &::after {
            position: absolute;
            content: "";
            height: 4px;
            background-color: #2196f3;
            width: 100%;
            border-radius: 2px;
            bottom: -33px;
            left: 0px;
        }
    }
}
